# Dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# Testing
coverage/
*.lcov

# Next.js
.next/
out/
build/
dist/

# Production
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env*.local
.env.production
.env.development
.env.keys

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Cache
.cache/
.turbo/
.eslintcache

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
Desktop.ini

# Debug
.npmrc

# shadcn/ui
components.json

# Developer
_dev/*
_devlogs/*

